* {
    margin : 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Verdana;
    font-size  : 12pt;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-area {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    width: 100%;
    height: auto;
    background-color: black;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    padding: 0 50px;
}
.logo img {
    height: 42px;
}
.head > .inner {
    height: 70px;
    background-image: url(../../img/bg-wool-dark.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.headnav > li {
    list-style: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navlogo {
    padding: 15px;
    margin: 0 2px;
    display: inline-block;
    background-size: contain;
    background-position: center;
}
.navlogo2 {
    padding: 30px;
    margin: 0 5px;
    display: inline-block;
    background-size: contain;
    background-position: center;
}
.logo1 {
    background-image: url(../../imgcdn/Plains_Grass_Block.png);
}
.logo2 {
    background-image: url(../../imgcdn/Book_JE2_BE2.png);
}
.logo3 {
    background-image: url(../../imgcdn/Diamond_Pickaxe_JE3_BE3.png);
}
.logo4 {
    background-image: url(../../imgcdn/Diamond_Ore_JE3_BE3.png);
}

/* The main DIV for the map */
.subway-map {
    margin          : 0;
    width           : 800px;
    height          : 410px;
    background-color: white;
}

/* Text labels */
.text {
    text-decoration: none;
    color          : black;
}

#legend {
    float : left;
    width : 250px;
    height: 400px;
}

#legend div {
    height: 20px;
}

#legend span {
    margin: 5px 5px 5px 0;
}

.subway-map span {
    margin: 5px 5px 5px 0;
}