* {
    padding: 0;
    margin : 0;
}

html {
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
}

body {
    background-image     : url(../img/bg_0.jpg);
    background-size      : cover;
    background-position  : center;
    background-attachment: fixed;
    background-repeat    : no-repeat;
}

.main {
    width           : 60%;
    height          : 50vh;
    padding         : 10%;
    border-radius   : 20px;
    box-shadow      : 5px 5px 20px 3px rgba(0, 0, 0, 0.685);
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: rgba(158, 158, 158, 0.5);
}

@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');

h1 {
    font-family   : 'Nova Mono', monospace;
    font-size     : 2.25rem;
    text-transform: uppercase;
    width         : 100%;
    height        : 120px;
    color         : rgb(182, 219, 255);
    perspective   : 900px;
    text-shadow   : 0 0 20px #fff;
}

.char {
    offset-path    : path('M.5 122.7s24.7-275 276.9 0c327.1 356.7 266.1-330.3 548-33.3 256.9 270.7 271.1 0 271.1 0');
    offset-distance: calc(var(--char-index) * 1.75rem);
    position       : absolute;
    animation      : wave 2200ms cubic-bezier(.62, .01, .42, 1.01) infinite alternate calc(var(--char-index) * 20ms), wave2 2200ms cubic-bezier(.62, .01, .42, 1.01) infinite alternate calc(var(--char-index) * 20ms);
    transform      : perspective(800px) scale(1) rotate3d(0, 0, 0, 0);
}

@keyframes wave {
    100% {
        offset-distance: calc((var(--char-index) * 3rem) + 300px);
        transform      : perspective(800px) scale(1.25) rotate3d(1, 0, 0, 180deg);
        color          : rgb(255, 252, 92);
    }
}

@keyframes wave2 {
    100% {
        offset-distance: calc((var(--char-index) * 3.45rem) + 600px);
        transform      : perspective(800px) scale(1.75) rotate3d(1, 0, 0, 360deg);
        color          : pink;
    }
}

.body {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    flex-direction : row;
}

.avater {
    width        : 150px;
    border-radius: 150px;
    border       : 10px #fff solid;
    box-shadow   : 0 0 0 2px #000;
    animation    : rotate 12s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
        /*从0度开始*/
    }

    100% {
        transform: rotateZ(360deg);
        /*360度结束*/
    }
}

.right {
    display    : flex;
    align-items: center;
}

.line {
    display       : flex;
    align-items   : center;
    color         : #fff;
    font-size     : 2em;
    text-shadow   : 0 0 2px #000;
    letter-spacing: 2px;
    font-family   : FZShuTi;
}

.name {
    display                : block;
    font-weight            : 600;
    font-size              : 28px;
    font-family            : "黑体";
    color                  : #8c888b;
    background             : -webkit-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
    /* -moz-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
        -ms-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5); */
    color                  : transparent;
    /*设置字体颜色透明*/
    -webkit-background-clip: text;
    /*背景裁剪为文本形式*/
    animation              : ran 10s linear infinite;
    /*动态10s展示*/
}

@keyframes ran {
    from {
        backgroud-position: 0 0;
    }

    to {
        background-position: 2000px 0;
    }
}

.textcontainer {
    padding   : 40px 0;
    text-align: center;
    display   : block;
}

.particletext {
    text-align: center;
    font-size : 48px;
    position  : relative;
}

.particletext.bubbles>.particle {
    opacity          : 0;
    position         : absolute;
    background-color : rgba(33, 150, 243, 0.5);
    -webkit-animation: bubbles 3s ease-in infinite;
    animation        : bubbles 3s ease-in infinite;
    border-radius    : 100%;
}

.particletext.hearts>.particle {
    opacity          : 0;
    position         : absolute;
    background-color : #cc2a5d;
    -webkit-animation: hearts 3s ease-in infinite;
    animation        : hearts 3s ease-in infinite;
}

.particletext.hearts>.particle:before,
.particletext.hearts>.particle:after {
    position        : absolute;
    content         : '';
    border-radius   : 100px;
    top             : 0px;
    left            : 0px;
    width           : 100%;
    height          : 100%;
    background-color: #cc2a5d;
}

.particletext.hearts>.particle:before {
    -webkit-transform: translateX(-50%);
    transform        : translateX(-50%);
}

.particletext.hearts>.particle:after {
    -webkit-transform: translateY(-50%);
    transform        : translateY(-50%);
}

.particletext.lines>.particle {
    position         : absolute;
    background-color : rgba(244, 67, 54, 0.5);
    -webkit-animation: lines 3s linear infinite;
    animation        : lines 3s linear infinite;
}

.particletext.confetti>.particle {
    opacity          : 0;
    position         : absolute;
    -webkit-animation: confetti 3s ease-in infinite;
    animation        : confetti 3s ease-in infinite;
}

.particletext.confetti>.particle.c1 {
    background-color: rgba(76, 175, 80, 0.5);
}

.particletext.confetti>.particle.c2 {
    background-color: rgba(156, 39, 176, 0.5);
}

.particletext.fire>.particle {
    position               : absolute;
    background-color       : rgba(255, 193, 7, 0.5);
    border-radius          : 40px;
    border-top-right-radius: 0px;
    -webkit-animation      : fires 0.8s linear infinite;
    animation              : fires 0.8s linear infinite;
    -webkit-transform      : rotate(-45deg);
    transform              : rotate(-45deg);
    opacity                : 0;
}

.particletext.fire>.particle:before {
    position               : absolute;
    content                : '';
    top                    : 60%;
    left                   : 40%;
    -webkit-transform      : translate(-50%, -50%);
    transform              : translate(-50%, -50%);
    width                  : 50%;
    height                 : 50%;
    border-radius          : 40px;
    border-top-right-radius: 0px;
    background-color       : rgba(251, 140, 0, 0.5);
}

.particletext.sunbeams>.particle {
    position         : absolute;
    background-color : rgba(253, 216, 53, 0.5);
    -webkit-animation: sunbeams 3s linear infinite;
    animation        : sunbeams 3s linear infinite;
}

@-webkit-keyframes bubbles {
    0% {
        opacity: 0;
    }

    20% {
        opacity          : 1;
        -webkit-transform: translate(0, -20%);
        transform        : translate(0, -20%);
    }

    100% {
        opacity          : 0;
        -webkit-transform: translate(0, -1000%);
        transform        : translate(0, -1000%);
    }
}

@keyframes bubbles {
    0% {
        opacity: 0;
    }

    20% {
        opacity          : 1;
        -webkit-transform: translate(0, -20%);
        transform        : translate(0, -20%);
    }

    100% {
        opacity          : 0;
        -webkit-transform: translate(0, -1000%);
        transform        : translate(0, -1000%);
    }
}

@-webkit-keyframes hearts {
    0% {
        opacity          : 0;
        -webkit-transform: translate(0, 0%) rotate(45deg);
        transform        : translate(0, 0%) rotate(45deg);
    }

    20% {
        opacity          : 0.8;
        -webkit-transform: translate(0, -20%) rotate(45deg);
        transform        : translate(0, -20%) rotate(45deg);
    }

    100% {
        opacity          : 0;
        -webkit-transform: translate(0, -1000%) rotate(45deg);
        transform        : translate(0, -1000%) rotate(45deg);
    }
}

@keyframes hearts {
    0% {
        opacity          : 0;
        -webkit-transform: translate(0, 0%) rotate(45deg);
        transform        : translate(0, 0%) rotate(45deg);
    }

    20% {
        opacity          : 0.8;
        -webkit-transform: translate(0, -20%) rotate(45deg);
        transform        : translate(0, -20%) rotate(45deg);
    }

    100% {
        opacity          : 0;
        -webkit-transform: translate(0, -1000%) rotate(45deg);
        transform        : translate(0, -1000%) rotate(45deg);
    }
}

@-webkit-keyframes lines {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0%);
        transform        : translateY(0%);
    }

    25% {
        -webkit-transform: translateY(100%);
        transform        : translateY(100%);
    }

    75% {
        -webkit-transform: translateY(-100%);
        transform        : translateY(-100%);
    }
}

@keyframes lines {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0%);
        transform        : translateY(0%);
    }

    25% {
        -webkit-transform: translateY(100%);
        transform        : translateY(100%);
    }

    75% {
        -webkit-transform: translateY(-100%);
        transform        : translateY(-100%);
    }
}

@-webkit-keyframes confetti {
    0% {
        opacity          : 0;
        -webkit-transform: translateY(0%) rotate(0deg);
        transform        : translateY(0%) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    35% {
        -webkit-transform: translateY(-800%) rotate(270deg);
        transform        : translateY(-800%) rotate(270deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity          : 0;
        -webkit-transform: translateY(2000%) rotate(1440deg);
        transform        : translateY(2000%) rotate(1440deg);
    }
}

@keyframes confetti {
    0% {
        opacity          : 0;
        -webkit-transform: translateY(0%) rotate(0deg);
        transform        : translateY(0%) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    35% {
        -webkit-transform: translateY(-800%) rotate(270deg);
        transform        : translateY(-800%) rotate(270deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity          : 0;
        -webkit-transform: translateY(2000%) rotate(1440deg);
        transform        : translateY(2000%) rotate(1440deg);
    }
}

@-webkit-keyframes fires {
    0% {
        -webkit-transform: rotate(-70deg) translateY(0%);
        transform        : rotate(-70deg) translateY(0%);
    }

    25% {
        -webkit-transform: rotate(-20deg) translateY(-5%);
        transform        : rotate(-20deg) translateY(-5%);
        opacity          : 1;
    }

    50% {
        -webkit-transform: rotate(-70deg) translateY(-10%);
        transform        : rotate(-70deg) translateY(-10%);
    }

    75% {
        -webkit-transform: rotate(-20deg) translateY(-20%);
        transform        : rotate(-20deg) translateY(-20%);
    }

    100% {
        -webkit-transform: rotate(-70deg) translateY(-40%);
        transform        : rotate(-70deg) translateY(-40%);
        opacity          : 1;
    }
}

@keyframes fires {
    0% {
        -webkit-transform: rotate(-70deg) translateY(0%);
        transform        : rotate(-70deg) translateY(0%);
    }

    25% {
        -webkit-transform: rotate(-20deg) translateY(-5%);
        transform        : rotate(-20deg) translateY(-5%);
        opacity          : 1;
    }

    50% {
        -webkit-transform: rotate(-70deg) translateY(-10%);
        transform        : rotate(-70deg) translateY(-10%);
    }

    75% {
        -webkit-transform: rotate(-20deg) translateY(-20%);
        transform        : rotate(-20deg) translateY(-20%);
    }

    100% {
        -webkit-transform: rotate(-70deg) translateY(-40%);
        transform        : rotate(-70deg) translateY(-40%);
        opacity          : 1;
    }
}

@-webkit-keyframes sunbeams {
    0% {
        -webkit-transform: translateY(40%) rotate(0deg);
        transform        : translateY(40%) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-40%) rotate(180deg);
        transform        : translateY(-40%) rotate(180deg);
    }

    100% {
        -webkit-transform: translateY(40%) rotate(360deg);
        transform        : translateY(40%) rotate(360deg);
    }

    0%,
    14%,
    17%,
    43%,
    53%,
    71%,
    80%,
    94%,
    100% {
        opacity: 0;
    }

    6%,
    15%,
    24%,
    28%,
    48%,
    55%,
    78%,
    82%,
    99% {
        opacity: 1;
    }
}

@keyframes sunbeams {
    0% {
        -webkit-transform: translateY(40%) rotate(0deg);
        transform        : translateY(40%) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-40%) rotate(180deg);
        transform        : translateY(-40%) rotate(180deg);
    }

    100% {
        -webkit-transform: translateY(40%) rotate(360deg);
        transform        : translateY(40%) rotate(360deg);
    }

    0%,
    14%,
    17%,
    43%,
    53%,
    71%,
    80%,
    94%,
    100% {
        opacity: 0;
    }

    6%,
    15%,
    24%,
    28%,
    48%,
    55%,
    78%,
    82%,
    99% {
        opacity: 1;
    }
}

.text {
    color            : #aaa;
    font-size        : 24px;
    font-family      : STXinwei;
    display          : flex;
    justify-content  : center;
    margin-top       : 10vh;
    -webkit-transform: translateY(-50%);
    transform        : translateY(-50%);
    text-align       : center;
    transition       : -webkit-transform .3s ease-in-out;
    transition       : transform .3s ease-in-out;
    transition       : transform .3s ease-in-out, -webkit-transform .3s ease-in-out;

}

.text:hover {
    -webkit-transform: rotateX(35deg), translateY(-50%);
    transform        : rotateX(35deg), translateY(-50%);
}

.text:hover span {
    color: #ccc;
}

.text:hover span:nth-child(odd) {
    -webkit-transform: skewY(15deg);
    transform        : skewY(15deg);
}

.text:hover span:nth-child(even) {
    -webkit-transform: skewY(-15deg);
    transform        : skewY(-15deg);
    background-color : rgba(249, 249, 249, 0.678);
    color            : #a6a6a6;
}

.text>span {
    display         : block;
    background-color: rgba(255, 255, 255, 0.9);
    width           : 50px;
    height          : 50px;
    line-height     : 50px;
    transition      : color .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition      : transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    transition      : transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    box-shadow      : 0 10px 50px rgba(0, 0, 0, 0.1);
}

.text>span:first-child {
    border-radius: 5px 0 0 5px;
}

.people {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: -10%;
    display: flex;
    align-items: center;
}

.people > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s ease;
    padding-left: 20px;
}

.people > div:hover {
    transform: scale(1.25,1.25);
}

.p-avater {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border       : 2px #fff solid;
    box-shadow   : 0 0 0 1px rgb(51, 51, 51);
    animation    : rotate 12s linear infinite;
}

.p-name {
    font-size: 14px;
    font-family: STXinwei;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(../img/bg_1.jpg);
    }

    .main {
        width: 90%;
        padding: 10% 5%;
    }

    .body {
        flex-direction: column;
    }

    .text {
        position: relative;
        bottom: 20%;
    }

    .people {
        bottom: -15vh;
        right: 0;
        width: 100%;
        justify-content: space-around;
    }
}